# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Data (ne pas versionner)
data/raw/
data/processed/

# Outputs (ne pas versionner)
outputs/

# HuggingFace caches (optionnel)
.cache/
**/.cache/
